# dependencies
.next/
out/

/.pnp
.pnp.js
node_modules/
# Ignore all .env files in any folder

# testing
/coverage

# production
/build

# misc
.DS_Store
**/.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example
/server/.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
/build
/dist

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 